<div class="container">
  <div class="card" >
    
    <div class="card-body">
      <div class="mb-3">
        <label for="name" class="form-label">Enter Value</label>
        <input #nameid type="text" class="form-control" value="James" id="name" placeholder="Enter Value">
      </div>
      <button type="button" (click)="submitForm()" class="btn btn-primary">Change Input value</button>

    </div>
  </div>
  <div class="card my-3" #box >
    
    <div class="card-body">
      <div class="mb-3">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <button type="button" (click)="changeBg()" class="btn btn-primary">Change backgroud color</button>

    </div>
  </div>

  <div class="card my-3">
    <div class="card-body">
    <button type="button" (click)="chageChildBgColor()" class="btn btn-primary">Change Child componet bg color from parent component</button>
  </div>
    </div>
  <app-childcomponent></app-childcomponent>
</div>

